/* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
#animation_main_word{
  animation: showup 7s 1;
}


#logo{
  animation: showup 7s 1;
}

footer{
    animation: showup 7s 1;
}

#start_generating{
  animation: showup 15s 1;
}

#animation_main_phrase {
  animation: reveal 7s 1;
}

.animate-when-visible{
  animation: showup 15s 1;
}



@keyframes showup {
    0% {opacity:0;}
    50% {opacity:1;}
}


@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:370px;}
    100% {opacity:1;width:370px;}
}


